[Desktop Entry]
Name=MDisplay
GenericName=Monitor Manager
Comment=Wayland monitor layout manager for mangowc
Exec=mdisplay
Icon=video-display
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
